notebooks/
unused/


.ipynb_checkpoints/
__pycache__/
checkpoints
*.pyc
.vscode/
.idea/
*.delta
config/config.json
/.vscode/*
/data
.env
checkpoint/*
/cassandra_data

.ivy2
.jupyter
.local
.cache
.ipython